body {
  position: relative;
  font-family: sans-serif;
}

div.tableau {
  position: relative;
  height: 25em;
  width: 40em;
  div {
    position: absolute;
    height: 3em;
    width: 2em;

    border-radius: 0.5em;
    background: #ffffff;
    box-shadow: 8px 8px 10px #e8e8e8, -8px -8px 10px #ffffff;
    border: 0.05em solid #eee;

    display: flex;
    align-items: center;
    justify-content: center;

    color: #666;
    cursor: pointer;
    &:hover {
      background-color: #eee;
    }
    &:active {
      background-color: #ddd;
    }
    &.selected {
      background-color: #ccc;
    }
  }
}

footer {
  position: fixed;
  bottom: 0;
  font-size: 0.8em;
  color: #aaa;
  a {
    text-decoration: inherit;
    color: #666;
  }
}

div.detail {
  position: absolute;
  top: 7em;
  left: 15em;
  border: 0.1em solid #ddd;
  border-radius: 1em;
  box-shadow: 8px 8px 10px #e8e8e8, -8px -8px 10px #ffffff;
  width: 10em;
  height: 10em;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2em auto 2em;
  grid-template-areas:
    "atomicNbr atomicMass"
    "symbol symbol"
    "name name";

  .symbol {
    grid-area: symbol;
    font-size: 4em;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .name {
    grid-area: name;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .atomicNbr {
    grid-area: atomicNbr;
    padding: 0.5em;
  }

  .atomicMass {
    grid-area: atomicMass;
    text-align: right;
    padding: 0.5em;
  }
}
